.menus{
    background-color: #8dbd56;
    color: white;
    padding: 50% 150%;
}
.plats{
    background-color: #8dbd56;
    color: white;
    padding: 50% 0;
    padding-left: 190%;
    padding-right: 200%;
}