<div id="menu" class="section wb">
  <div class="container-fluid">
    <div class="section-title text-center">
      <h3>Menu</h3>
      <p>Attention ! Il faut être connecté pour commander !</p>
    </div>

    <mat-tab-group mat-align-tabs="center" dynamicHeight>
      <!--<mat-tab label="Menus"><app-weekly-menus></app-weekly-menus></mat-tab>
      <mat-tab label="Plats"><app-meals></app-meals></mat-tab>-->
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="menus">Menus</span>
      </ng-template>
        <app-weekly-menus></app-weekly-menus>
      </mat-tab>
      <mat-tab label="Plats">
        <ng-template mat-tab-label>
          <span class="plats">Plats</span>
      </ng-template>
        <app-meals></app-meals>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
